<?xml version="1.0"?>

<!--
  By uzyskać więcej informacji na temat konfiguracji aplikacji ASP.NET odwiedź: 
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="polaczenie_wiadomosc" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\wiadomosci_maffey.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Github" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\github.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
      <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
        <providers>
          <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
        </providers>
      </siteMap>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
